* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: {
    top: 1.4rem;
    bottom: 1.4rem;
  }
  text-align: center;
  a {
    text-decoration: none;
    margin: 1rem;
    color: white;
    font-weight: 600;
  }
  a:hover {
    text-decoration: 3px underline;
    text-underline-offset: 4px;
  }
}
