<div *ngIf="loading === true">
  <p>Loading tasks...</p>
</div>
<ul *ngIf="loading === false">
  <h2>COMPLETED TASKS</h2>
  <p *ngIf="doneTodos.length === 0">Oops, there are no completed tasks!</p>
  <li *ngFor="let todo of doneTodos; let i = index">
    <div>
      <span><i class="mark fa-solid fa-angles-right"></i></span>
      <span>{{ i + 1 }}</span>
      <h4>{{ todo.title }}</h4>
    </div>
    <div>
      <button type="button" (click)="redoTodo(todo)">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
    </div>
  </li>
</ul>
