/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(196, 162, 220);
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgba(130, 89, 187, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
